body {
  margin: 0;
  font-family: 'MADE Canvas', sans-serif;
}

/* Hero Section */
#hero {
  font-family: 'Voga', sans-serif;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  height: 100svh;
}

/* slider  */
.slider {
  overflow: none;
  width: 100%;
  height: 100vh;
  position: relative;
}

.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 32.5s infinite;
}

.slider .slide:nth-child(1) {
  background-image: url('./images/Cat\ 1920_1080.jpg');
  animation-delay: 0s;
}

.slider .slide:nth-child(2) {
  background-image: url('./images/Cats\ amy-baugess-unsplash.jpg');
  animation-delay: -6.5s;
}

.slider .slide:nth-child(3) {
  background-image: url('./images/Cat\ tran-mau-tri-tam-unsplash.jpg');
  animation-delay: -13s;
}

.slider .slide:nth-child(4) {
  background-image: url("./images/bogdan-farca-CEx86maLUSc-unsplash.jpg");
  animation-delay: -19.5s;
}

.slider .slide:nth-child(5) {
  background-image: url("./images/paul-hanaoka-w2DsS-ZAP4U-unsplash.jpg");
  animation-delay: -26s;
}

@keyframes slider {

  0%,
  16%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }

  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }

  96% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}

/* Heart */
.heart-flex {
  display: flex;
  justify-content: space-between;
  padding: 80px;
}

.heart-left,
.heart-right {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(80, 0, 108, 1);
}

.heart-left:before {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(80, 0, 108, 1);
  content: "";
  border-radius: 50px;
  left: -50px;
}

.heart-left:after,
.heart-right:after {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(80, 0, 108, 1);
  content: "";
  border-radius: 50px;
  top: -50px;
}

.heart-right:before {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(80, 0, 108, 1);
  content: "";
  border-radius: 50px;
  left: 50px;
}

/* Heading */
.parallax-heading {
  display: grid;
  grid-template-columns: 10% 30% 50% 10%;
  grid-template-rows: 300px;
  justify-content: center;
  align-items: center;
}

.parallax-heading h1 {
  font-size: 4rem;
  color: #2B192E;
  z-index: 1;
  grid-column-start: 2;
}

/* Features Section */
#features {
  background-color: #CE8CA5;
}

.features-container {
  display: flex;
  height: 100svh;
  justify-content: space-evenly;
  align-items: center;
  color: #2B192E;
}

.feature {
  display: flex;
  gap: 1.5rem;
}

/* Testimonials */
#testimonials {
  background-color: #F5E8DA;
}

.testimonials-container {
  display: flex;
  height: 100svh;
  justify-content: space-evenly;
  align-items: center;
  color: #2B192E;
}

.testimonial>img {
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
  mask-border: var(--_m);
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1.5rem; */
}

/* Pricing Section */
#pricing {
  background-color: #CE8CA5;
}

.pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2B192E;
}

.pricing-header h2 {
  font-size: 3rem;
}

.pricing-container {
  display: flex;
  height: 100svh;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  width: 200px;
}

.card-header {
  background-color: rgba(80, 0, 108, 0.7);
  color: #F5E8DA;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.card-body {
  background-color: rgba(80, 0, 108, 0.22);
  /* color: #50006C; */
  color: #2B192E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body ul {
  list-style: none;
}

.btn {
  background-color: #CE8CA5;
  border: none;
  color: #F5E8DA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: rgba(80, 0, 108, 0.7);
}

/* Download Section */
.download-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: #F5E8DA;
  color: #2B192E;
  font-size: 3.5rem;
}

.btn-download {
  background-color: #2B192E;
  border: none;
  color: #F5E8DA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* Footer Section  */
#footer {
  background-color: #303030;
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  color: #F5E8DA;
}
.footer-flex ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
/* Meda Queries */
@media only screen and (max-width: 768px) {
  .parallax-heading {
    grid-template-columns: 10% 30% 10%;
  }

  .parallax-heading h1 {
    font-size: 3rem;
  }

  .features-container,
  .testimonials-container {
    height: 130svh;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .feature {
    flex-direction: column;
  }

  .feature-content {
    align-items: center;
  }

  .pricing-container {
    flex-direction: column;
    height: 130svh;
  }
}
